.main-title {
	font-size: 25px;
	margin-bottom: 4px;
}

.valid-widget-check {
	font-size: 15px;
}

ul.card-list {
	 padding: 0; 
   margin: 0 0 10px 0;
}

li.card {
	list-style-type: none;
	display: inline;
	margin: 4px;
}

img.card-logo {
	max-width: 39px;
  max-height: 25px;
  vertical-align: middle;
}

.valid-btn {
	background: #7ACC52;
	border-radius:10px;
	margin-left: 5px;
}

.disabled {
 opacity: 0.1;
}

.checked::after {
	content: ' \2714';
	font-size: 20px;
	color: #7ACC52;
}

.unchecked::after {
	content: ' \2718';
	font-size: 20px;
	color: red;
}